﻿<html>
<head>
    <title>Azure AD B2C API Sample</title>
</head>
<body>
    Your API will now be available via http://localhost:44330/api/Users

    Obtain a token by signing in <a href="https://login.microsoftonline.com/TWStageUB.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1A_ub_mgt_signup_signin&client_id=72092e70-4c55-4471-a31c-b78375f892bd&nonce=defaultNonce&redirect_uri=https%3A%2F%2Flocalhost:44330%2Fapi%2Fusers&scope=https%3A%2F%2FTWStageUB.onmicrosoft.com%ubshowcaselocal%2Fuser_mgt_create&response_type=token&prompt=login" target="_blank">here.</a>
    <br />
    <br />
    Try it out via curl using the comand below.
    Make sure your replace [TOKEN] with the token obtained from the link above.
    <br />
    <i>curl http://localhost:44330/api/Users -i --header "Authorization: Bearer <b>[TOKEN]</b>"</i>
    <br />
    <br />
    Note: Port will vary depending on whether you run via Visual Studio or <i>"dotnet run"</i> (port 5000)
</body>
</html>
